<header class="App-header">
    <nav class="navbar navbar-expand-sm bg-dark">
        <div class="container-fluid">
            <span class="navbar-brand text-white" href="">
                Employee Management App
            </span>
            <div>
                <ul class="navbar-nav d-flex align-items-center">
                    <li class="nav-item">
                        <button
                            class="btn btn-info text-primary d-flex justify-content-center align-items-center"
                            (click)="logOut()"
                        >
                            Log Out 
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
